# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://db.siwogmtbaqwtovulogvg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=yjrtSyU2nSdd5USSoz576waQRtc4MhSK-xKYf-7R46w

# Database (for local development, NOT for production)
SUPABASE_DB_HOST=db.siwogmtbaqwtovulogvg.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=your_password_here